body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('specialdelivery.jpg');
  background-position-x: left;
  background-position-y: center;
}

.nav {
  display: flex;
  align-items: center;
  background-color: lightblue;
  padding: 30px 25px;
}

.lunaImg {
  width: 80px;
  margin-right: 10px;
}

.main {
  margin-top: 30px;
  background-color: lightgray;
  width: 700px;
  padding-bottom: 4px;
}

.facts {
  padding-top: 20px;
  margin-left: 30px;
}
.main > ul {
  margin-top: 30px;
  line-height: 20px;
}

.main > ul > li {
  padding-block: 8px;
}

.main > ul > li::marker {
  font-size: 1.4rem;
  color: lightblue;
}

.menu {
  display: flex;
  list-style: none;
  margin-left: auto;
  font-size: 18px;
}

.menu > li {
  padding: 8px;
}

.footer {
  font-style: italic;
}


