.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img {
  width: 80px;
}
.menu {
  list-style: none;
  display: flex;
}

.menu > li {
  padding: 8px;
}

.footer {
  font-style: italic;
}


